.conteneur-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  gap: 10px;
}

.button a {
  flex: 1;
  text-decoration: none;
}

.code-button {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge rgba(123, 31, 162, 0.7);
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.code-button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #12191f;
  transition: 0.5s;
  transform-origin: center;
}

.code-button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #12191f;
  transition: 0.5s;
}

.code-button:hover::before, .code-button:hover::after {
  transform: scale(0)
}

.code-button:hover {
  box-shadow: inset 0px 0px 25px #800080;
}


.section-header {
  text-align: center;
  margin-bottom: 20px;
}

.section-header h1 {
  font-size: 2em;
}

.section-header p {
  font-size: 1.2em;
  color: #888;
}

.section-header h2 {
  font-size: 45px;
  font-weight: 700;
}

.section-header p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
}

.svg-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}


.card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 16px; /* Espacement intérieur pour éviter les débordements horizontaux */
  margin-left: 50px;
  margin-right: 50px;
}

.project-card {
  width: calc(25% - 16px);
  height: 550px;
  margin: 16px 8px;
  overflow: hidden;
  transition: height 0.3s ease;
  transition: all 0.5s ease 0s !important;
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;

}

.project-card:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}
.project-card .MuiAvatar-root {
  width: 50px;
  height: 50px;
}

.project-card.is-expanded {
  height: auto;
}

.slider-container {
  position: relative;
}

.slider-indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color:#7b21b768;
  padding: 5px 10px;
  border-radius: 5px;
}

.project-card:first-child .slider-indicator {
  /* styles spécifiques à l'indicateur de la première carte */
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7b21b768;
  padding: 5px 10px;
  border-radius: 5px;
}



@media (max-width: 600px) {
  .code-button {
    width: 10em;
    height: 2.5em;
    font-size: 14px; 
  }

  .card-container {
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: calc(100% - 16px);
    margin: 16px 0;
  }
}

