.footer {
  color: #ffffff; /* Couleur du texte */
  padding: 30px;
  text-align: center;
  margin: auto;
  margin-top: 2em;
  background-color: rgba(255, 255, 255, 0.053); /* Gris avec 50% d'opacité */
}